nav{
    box-shadow: 0px 1px 5px rgb(161, 161, 161);
}

.loginbox{
    width: 400px; 
    height: 400px; 
    background-color: white; 
    float: right; 
    margin-right: 80px;
    margin-top: calc((100vh - 490px)/2);
    /* border: 2px solid rgb(231, 231, 231); */
    border-radius: 10px;
    /* box-shadow: 0px 1px 5px #45D35D; */
    border: 5px solid #45D35D;
}

.node{
    height: 250px;
    width: 800px;
    margin: auto;
    margin-top: 40px;
    background-color: #45D35D;
    border-radius: 35px;
    box-shadow: 0px 5px 10px rgb(161, 161, 161);
    transition: all 0.5s;
}