<!DOCTYPE html>
<html>
    <head>
        <title>MyInsurance - Client Dash</title>
        <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-wEmeIV1mKuiNpC+IOBjI7aAzPcEZeedi5yW5f2yOq55WWLwNGmvvx4Um1vskeMj0" crossorigin="anonymous">
        <link href="../static/style.css" rel="stylesheet">
    </head>

    <body>
        <nav class="navbar navbar-light bg-white align-items-center container-fluid" style="height: 80px; top: 0;">
            <!-- Navbar content -->
            <a href="/" style="text-decoration: none; margin-left: 50px;"><h1 class="fw-bolder" style="color: #45D35D;">Available Appointment</h1></a>
            <div class="float-end me-5" style="position: relative;">
                <a style="text-decoration: none; margin-right: 10px;" href="clientdashboard"><button class="btn topcustom" style="width: 200px; background-color: #45D35D; color: white; margin-right: 10px;">Back to Dashboard</button></a> 
                <a style="text-decoration: none; margin-right: 10px;" href="/"><button class="btn topcustom" style="width: 100px; background-color: #45D35D; color: white;">Log Out</button></a> 
            </div>
        </nav>  

        <p style="font-size: 25px; margin-top: 10px; margin-left: 50px; text-decoration: underline; color: #45D35D;">Available Appointments</p>
        {% for rep in repdb %}
        <div class="appointment_node" style="position: relative;">
            <h3 style="margin-left: 40px; padding-top: 20px;">{{ rep.name }} - {{ rep.expertise }}</h3>
            <p style="margin-left: 40px; width: 80%; line-height: 10px;" class="fw-bolder">Branch/Location: {{ rep.address }}, Hours: {{ rep.hours }}</p>
            <p style="margin-left: 40px; width: 80%;">{{ rep.description }}</p>
            
            <form action="{% url 'booking' %}" method="POST" style="bottom: 20px; position: absolute; width: 100%;">
                {% csrf_token %}
                <input type="text" value="{{ client }}" name="client_username" hidden>
                <input type="text" value="{{ rep.username }}" name="rep_username" hidden>
                <input type="text" class="form-control" placeholder="Time of Appointment" name="time" style="width: 30%; margin-left: 40px; border-radius: 10px; display: inline;" required>
                <button class="btn btn-outline-light" type="submit" style="width: 100px; margin-left: 10px; display: inline; margin-top: -3px;">Submit</button>
        
                
            </form>
        </div>
            
        {% empty %}
            <h1>No representatives available</h1>
        {% endfor %}
            

        

        <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0/dist/js/bootstrap.bundle.min.js" integrity="sha384-p34f1UUtsS3wqzfto5wAAmdvj+osOnFyQFpp4Ua3gs/ZVWx6oOypYoCJhGGScy+8" crossorigin="anonymous"></script>
    </body>
</html>